.menu-board{
    background-color: #fffbe6;
    color: #fb4f4f;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.menu-board h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    margin-bottom: 20px;
}
div{
    margin: 10px 0;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
    margin-bottom: 10px;
    font-weight: bolder;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0;
}